@import "tailwindcss";
@source "../node_modules/slate-ui/";

@font-face {
  font-family: "Season";
  src: url("/font2.woff") format("woff");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  color-scheme: light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #000000;

  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;

  --primary-50: #e6f7f1;
  --primary-100: #c2f0df;
  --primary-200: #8be0c3;
  --primary-300: #4fc99e;
  --primary-400: #1fa87d;
  --primary-500: #00a071;
  --primary-600: #00845e;
  --primary-700: #00694b;
  --primary-800: #004d37;
  --primary-900: #003324;

  --secondary-50: #eaf3fe;
  --secondary-100: #d4e6fd;
  --secondary-200: #a9cdfc;
  --secondary-300: #7eb4fa;
  --secondary-400: #539af9;
  --secondary-500: #1f75fe;
  --secondary-600: #185ecc;
  --secondary-700: #134899;
  --secondary-800: #0d3266;
  --secondary-900: #081c33;

  --primary: var(--primary-500);
  --anti-primary: var(--white);
  --muted: var(--neutral-500);
  --muted-light: var(--neutral-50);

  --success-50: #f0fdf4;
  --success-100: #dcfce7;
  --success-200: #bbf7d0;
  --success-300: #86efac;
  --success-400: #4ade80;
  --success-500: #22c55e;
  --success-600: #16a34a;
  --success-700: #15803d;
  --success-800: #166534;
  --success-900: #14532d;

  --error-50: #fef2f2;
  --error-100: #fee2e2;
  --error-200: #fecaca;
  --error-300: #fca5a5;
  --error-400: #f87171;
  --error-500: #f33535;
  --error-600: #de2121;
  --error-700: #b91c1c;
  --error-800: #991b1b;
  --error-900: #7f1d1d;

  --warning-50: #fffbeb;
  --warning-100: #fef3c7;
  --warning-200: #fde68a;
  --warning-300: #fcd34d;
  --warning-400: #fbbf24;
  --warning-500: #f59e0b;
  --warning-600: #d97706;
  --warning-700: #b45309;
  --warning-800: #92400e;
  --warning-900: #78350f;

  --info-50: #f0f9ff;
  --info-100: #e0f2fe;
  --info-200: #bae6fd;
  --info-300: #7dd3fc;
  --info-400: #38bdf8;
  --info-500: #0ea5e9;
  --info-600: #0284c7;
  --info-700: #0369a1;
  --info-800: #075985;
  --info-900: #0c4a6e;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
}

.katex > * {
  @apply text-xl;
}

.mspace.newline {
  @apply py-2;
}

.markdown-body {
  @apply !bg-transparent;

  ul {
    @apply list-disc list-outside;
  }

  ol {
    @apply list-decimal list-outside;
  }
}

table.rounded-lg {
  border-collapse: separate;
  border-spacing: 0;

  /* Border radius */
  thead > tr > th:first-child {
    @apply !rounded-tl-lg overflow-hidden;
  }
  thead > tr > th:last-child {
    @apply rounded-tr-lg overflow-hidden;
  }
  tbody > tr:last-child > td:first-child {
    @apply rounded-bl-lg overflow-hidden;
  }
  tbody > tr:last-child > td:last-child {
    @apply rounded-br-lg overflow-hidden;
  }

  /* Border */
  thead > tr {
    th {
      @apply !border-t !border-b-0 border-l-0;
    }
    th:first-child {
      @apply !border-l;
    }
  }

  tbody {
    tr {
      td {
        @apply !border-t border-b-0 !border-l-0 border-r;
      }
      td:first-child {
        @apply !border-l;
      }
    }
    tr:last-child {
      td {
        @apply !border-b;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Season" !important;
}

@theme {
  --color-white: var(--white);
  --color-black: var(--black);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-primary: var(--primary-500);
  --color-anti-primary: var(--white);
  --color-secondary: var(--color-secondary-500);
  --color-anti-secondary: var(--color-white);
  --color-success: var(--color-success-500);
  --color-anti-success: var(--color-white);
  --color-error: var(--color-error-500);
  --color-anti-error: var(--color-white);
  --color-info: var(--color-info-500);
  --color-anti-info: var(--color-white);
  --color-muted: var(--neutral-500);
  --color-muted-light: var(--primary-50);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);

  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);

  --color-info-50: var(--info-50);
  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);
  --color-info-400: var(--info-400);
  --color-info-500: var(--info-500);
  --color-info-600: var(--info-600);
  --color-info-700: var(--info-700);
  --color-info-800: var(--info-800);
  --color-info-900: var(--info-900);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-neutral-200);
    outline-color: var(--color-neutral-200);
  }
}
